*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
}
.container{
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    background-color: #ccc;
    padding: 40px;
}
.menu-dropdown{
    list-style: none;
}
.menu-dropdown li{
    float: left;
    position: relative;
}
.menu-dropdown li a{
    color: #fff;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
}
.menu-dropdown li ul{
    position: absolute;
    background-color: #ccc;
    list-style: none;
    display: none;
    top: 88%;
}
.menu-dropdown li:hover ul{
    display: block;
}
.menu-dropdown li ul li a:hover{
    color: #fff;
    background-color: #111;
}
.menu-dropdown li ul li a{
    color: #000;
}
.menu-dropdown li ul li{
    width: 150px;
    top: 0;
}
.conteudo{
    display: grid;
    grid-template-columns: 70% 30%;
}
.noticias{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    row-gap: 5%;
    column-gap: 1%
}
.noticias img{
    max-width: 100%;
}